<%- include('../partials/header') %>

<h3>Skills as of <%= time %></h3>

<ul>
  <!-- Needed to change this to an `s` instead of a `t` -->
  <% skills.forEach(function(s) { %>
    <li>
      <!-- Needed to change the `t` to an `s` here -->
      <form
        action="/skills/<%= s.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
        <button type="submit">X</button>
      </form>
      <!-- This also needs to be changed to match what our data has. Our data does not have an `id` but it has `skill` -->
      <a href="/skills/<%= s.skill %>"><%= s.skill %></a>
      - 
      <%= s.learned ? 'learned' : 'not learned' %>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add Skill</a>

  
<%- include('../partials/footer') %>